<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.attach">


    <!-- ==================================================
         첨부파일 번호 생성
         ================================================== -->

    <select id="sequence" resultType="int">

        select attach_seq.nextval
        from dual

    </select>


    <!-- ==================================================
         프로필 파일 등록
         ================================================== -->

    <insert id="add">

        insert into attach(
            attach_no,
            attach_name,
            attach_type,
            attach_size,
            attach_uploader,
            attach_source
        )

        values(
            #{attachNo},
            #{attachName},
            #{attachType},
            #{attachSize},
            #{attachUploader},
            #{attachSource}
        )

    </insert>


    <!-- ==================================================
         프로젝트 파일 등록
         ================================================== -->

    <insert id="addProjectFile">

        insert into attach(
            attach_no,
            attach_name,
            attach_type,
            attach_size,
            attach_uploader,
            attach_source,
            attach_source_no
        )

        values(
            #{attachNo},
            #{attachName},
            #{attachType},
            #{attachSize},
            #{attachUploader},
            #{attachSource},
            #{attachSourceNo}
        )

    </insert>


    <!-- ==================================================
         파일 하나 조회
         ================================================== -->

    <select id="find" resultType="AttachDto">

        select
            attach_no,
            attach_name,
            attach_type,
            attach_size,
            attach_uploader,
            attach_source,
            attach_source_no,
            attach_ctime

        from attach

        where attach_no = #{attachNo}

    </select>


    <!-- ==================================================
         파일 삭제
         ================================================== -->

    <delete id="delete">

        delete
        from attach

        where attach_no = #{attachNo}

    </delete>


    <!-- ==================================================
         파일 여러 개 조회
         ================================================== -->

    <select id="findList" resultType="AttachDto">

        select
            attach_no,
            attach_name,
            attach_type,
            attach_size,
            attach_uploader,
            attach_source,
            attach_source_no,
            attach_ctime

        from attach

        where attach_no in(

            <foreach
                item="attachNo"
                collection="list"
                separator=",">

                #{attachNo}

            </foreach>

        )

        order by attach_no asc

    </select>


    <!-- ==================================================
         프로젝트 전체 파일 조회
         ================================================== -->

    <select
        id="selectListByProject"
        resultType="AttachDto">

        select
            a.attach_no,
            a.attach_name,
            a.attach_type,
            a.attach_size,
            a.attach_uploader,
            a.attach_source,
            a.attach_source_no,
            a.attach_ctime,
            e.emp_name as empName

        from project_file pf

        join attach a
            on pf.attach_no = a.attach_no

        left join emp e
            on a.attach_uploader = e.emp_no

        where pf.project_no = #{projectNo}

        order by a.attach_ctime desc

    </select>


    <!-- ==================================================
         프로젝트 파일 검색

         searchType

         name     = 파일명
         source   = 출처
         uploader = 업로더
         type     = 파일 형태

         모든 검색어는 띄어쓰기 무시
         ================================================== -->

    <select
        id="selectListByProjectAndKeyword"
        resultType="AttachDto">

        SELECT
            a.attach_no,
            a.attach_name,
            a.attach_type,
            a.attach_size,
            a.attach_uploader,
            a.attach_source,
            a.attach_source_no,
            a.attach_ctime,
            e.emp_name AS empName

        FROM project_file pf

        JOIN attach a
            ON pf.attach_no = a.attach_no

        LEFT JOIN emp e
            ON a.attach_uploader = e.emp_no

        WHERE pf.project_no = #{projectNo}

        <choose>

            <!-- ==============================
                 파일 이름 검색
                 ============================== -->

            <when test="searchType == 'name'">

                AND REPLACE(
                        LOWER(a.attach_name),
                        ' ',
                        ''
                    )

                    LIKE '%' ||

                    REPLACE(
                        LOWER(#{keyword}),
                        ' ',
                        ''
                    ) ||

                    '%'

            </when>


            <!-- ==============================
                 파일 출처 검색
                 ============================== -->

            <when test="searchType == 'source'">

                AND (

                    REPLACE(
                        LOWER(a.attach_source),
                        ' ',
                        ''
                    )

                    LIKE '%' ||

                    REPLACE(
                        LOWER(#{keyword}),
                        ' ',
                        ''
                    ) ||

                    '%'

                    OR

                    (
                        REPLACE(
                            LOWER(#{keyword}),
                            ' ',
                            ''
                        ) = '파일함'

                        AND LOWER(a.attach_source) = 'file'
                    )

                    OR

                    (
                        REPLACE(
                            LOWER(#{keyword}),
                            ' ',
                            ''
                        ) = '노트'

                        AND LOWER(a.attach_source) = 'note'
                    )

                    OR

                    (
                        REPLACE(
                            LOWER(#{keyword}),
                            ' ',
                            ''
                        ) = '노트댓글'

                        AND LOWER(a.attach_source) = 'note_comment'
                    )

                    OR

                    (
                        REPLACE(
                            LOWER(#{keyword}),
                            ' ',
                            ''
                        ) = '업무'

                        AND LOWER(a.attach_source) = 'task'
                    )

                    OR

                    (
                        REPLACE(
                            LOWER(#{keyword}),
                            ' ',
                            ''
                        ) = '업무댓글'

                        AND LOWER(a.attach_source) = 'task_comment'
                    )

                )

            </when>


            <!-- ==============================
                 업로더 검색
                 이름 또는 사번
                 ============================== -->

            <when test="searchType == 'uploader'">

                AND (

                    REPLACE(
                        LOWER(NVL(e.emp_name, '')),
                        ' ',
                        ''
                    )

                    LIKE '%' ||

                    REPLACE(
                        LOWER(#{keyword}),
                        ' ',
                        ''
                    ) ||

                    '%'

                    OR

                    REPLACE(
                        LOWER(TO_CHAR(a.attach_uploader)),
                        ' ',
                        ''
                    )

                    LIKE '%' ||

                    REPLACE(
                        LOWER(#{keyword}),
                        ' ',
                        ''
                    ) ||

                    '%'

                )

            </when>


            <!-- ==============================
                 파일 형식 검색
                 확장자 / MIME 타입 / 파일 이름
                 ============================== -->

            <when test="searchType == 'type'">

                AND (

                    REPLACE(
                        LOWER(NVL(a.attach_type, '')),
                        ' ',
                        ''
                    )

                    LIKE '%' ||

                    REPLACE(
                        LOWER(#{keyword}),
                        ' ',
                        ''
                    ) ||

                    '%'

                    OR

                    REPLACE(
                        LOWER(NVL(a.attach_name, '')),
                        ' ',
                        ''
                    )

                    LIKE '%' ||

                    REPLACE(
                        LOWER(#{keyword}),
                        ' ',
                        ''
                    ) ||

                    '%'

                )

            </when>


            <!-- ==============================
                 잘못된 searchType이면
                 파일 이름 검색
                 ============================== -->

            <otherwise>

                AND REPLACE(
                        LOWER(a.attach_name),
                        ' ',
                        ''
                    )

                    LIKE '%' ||

                    REPLACE(
                        LOWER(#{keyword}),
                        ' ',
                        ''
                    ) ||

                    '%'

            </otherwise>

        </choose>

        ORDER BY a.attach_ctime DESC

    </select>


    <!-- ==================================================
         첨부파일이 속한 프로젝트 번호
         ================================================== -->

    <select
        id="selectProjectNo"
        resultType="int">

        select project_no

        from project_file

        where attach_no = #{attachNo}

    </select>


    <!-- ==================================================
         프로젝트 상태 조회
         ================================================== -->

    <select
        id="selectProjectStatus"
        resultType="string">

        select project_status

        from project

        where project_no = #{projectNo}

    </select>


</mapper>