<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.attach">


    <!-- ==================================================
         첨부파일 번호 생성
         ================================================== -->

    <select id="sequence" resultType="int">
        select attach_seq.nextval
        from dual
    </select>


    <!-- ==================================================
         프로필 파일 등록
         ================================================== -->

    <insert id="add">

        insert into attach(
            attach_no,
            attach_name,
            attach_type,
            attach_size,
            attach_uploader,
            attach_source
        )
        values(
            #{attachNo},
            #{attachName},
            #{attachType},
            #{attachSize},
            #{attachUploader},
            #{attachSource}
        )

    </insert>


    <!-- ==================================================
         프로젝트 파일 등록
         ================================================== -->

    <insert id="addProjectFile">

        insert into attach(
            attach_no,
            attach_name,
            attach_type,
            attach_size,
            attach_uploader,
            attach_source,
            attach_source_no
        )
        values(
            #{attachNo},
            #{attachName},
            #{attachType},
            #{attachSize},
            #{attachUploader},
            #{attachSource},
            #{attachSourceNo}
        )

    </insert>


    <!-- ==================================================
         파일 하나 조회
         ================================================== -->

    <select id="find" resultType="AttachDto">

        select
            attach_no,
            attach_name,
            attach_type,
            attach_size,
            attach_uploader,
            attach_source,
            attach_source_no,
            attach_ctime
        from attach
        where attach_no = #{attachNo}

    </select>


    <!-- ==================================================
         파일 삭제
         ================================================== -->

    <delete id="delete">

        delete
        from attach
        where attach_no = #{attachNo}

    </delete>


    <!-- ==================================================
         파일함 연결 삭제
         ================================================== -->

    <delete id="deleteProjectFile">

        delete
        from project_file
        where attach_no = #{attachNo}

    </delete>


    <!-- ==================================================
         파일 여러 개 조회
         ================================================== -->

    <select id="findList" resultType="AttachDto">

        select
            attach_no,
            attach_name,
            attach_type,
            attach_size,
            attach_uploader,
            attach_source,
            attach_source_no,
            attach_ctime
        from attach
        where attach_no in(
            <foreach
                item="attachNo"
                collection="list"
                separator=","
            >
                #{attachNo}
            </foreach>
        )
        order by attach_no asc

    </select>


    <!-- ==================================================
         프로젝트 전체 파일 조회
         기존 메서드
         ================================================== -->

    <select id="selectListByProject" resultType="AttachDto">

        select
            a.attach_no,
            a.attach_name,
            a.attach_type,
            a.attach_size,
            a.attach_uploader,
            a.attach_source,
            a.attach_source_no,
            a.attach_ctime,
            e.emp_name as empName

        from project_file pf

        join attach a
            on pf.attach_no = a.attach_no

        left join emp e
            on a.attach_uploader = e.emp_no

        where pf.project_no = #{projectNo}

        order by
            a.attach_ctime desc,
            a.attach_no desc

    </select>


    <!-- ==================================================
         프로젝트 전체 파일 조회
         + 페이징
         + 정렬

         중요:
         ORDER BY가 ROWNUM보다 먼저 실행되어야 함
         ================================================== -->

    <select id="selectListByProjectPage" resultType="AttachDto">

        select *
        from (
            select
                rownum rn,
                TMP.*
            from (

                select
                    a.attach_no,
                    a.attach_name,
                    a.attach_type,
                    a.attach_size,
                    a.attach_uploader,
                    a.attach_source,
                    a.attach_source_no,
                    a.attach_ctime,
                    e.emp_name as empName

                from project_file pf

                join attach a
                    on pf.attach_no = a.attach_no

                left join emp e
                    on a.attach_uploader = e.emp_no

                where pf.project_no = #{projectNo}


                <!-- ==========================================
                     정렬
                     ========================================== -->

                <choose>

                    <!-- 최신순 -->
                    <when test="sortType == 'date-desc'">

                        order by
                            a.attach_ctime desc,
                            a.attach_no desc

                    </when>


                    <!-- 오래된순 -->
                    <when test="sortType == 'date-asc'">

                        order by
                            a.attach_ctime asc,
                            a.attach_no asc

                    </when>


                    <!-- 파일명순 -->
                    <when test="sortType == 'name-asc'">

                        order by
                            lower(a.attach_name) asc,
                            a.attach_no asc

                    </when>


                    <!-- 파일명 역순 -->
                    <when test="sortType == 'name-desc'">

                        order by
                            lower(a.attach_name) desc,
                            a.attach_no desc

                    </when>


                    <!-- 큰 파일순 -->
                    <when test="sortType == 'size-desc'">

                        order by
                            a.attach_size desc,
                            a.attach_no desc

                    </when>


                    <!-- 작은 파일순 -->
                    <when test="sortType == 'size-asc'">

                        order by
                            a.attach_size asc,
                            a.attach_no asc

                    </when>


                    <!-- 기본값 -->
                    <otherwise>

                        order by
                            a.attach_ctime desc,
                            a.attach_no desc

                    </otherwise>

                </choose>

            ) TMP
        )

        where rn between #{beginRownum} and #{endRownum}

    </select>


    <!-- ==================================================
         프로젝트 전체 파일 개수
         ================================================== -->

    <select id="countByProject" resultType="int">

        select count(*)

        from project_file pf

        join attach a
            on pf.attach_no = a.attach_no

        where pf.project_no = #{projectNo}

    </select>


    <!-- ==================================================
         프로젝트 파일 검색
         기존 메서드
         ================================================== -->

    <select
        id="selectListByProjectAndKeyword"
        resultType="AttachDto"
    >

        select
            a.attach_no,
            a.attach_name,
            a.attach_type,
            a.attach_size,
            a.attach_uploader,
            a.attach_source,
            a.attach_source_no,
            a.attach_ctime,
            e.emp_name as empName

        from project_file pf

        join attach a
            on pf.attach_no = a.attach_no

        left join emp e
            on a.attach_uploader = e.emp_no

        where pf.project_no = #{projectNo}


        <!-- ==========================================
             검색 조건
             ========================================== -->

        <choose>


            <!-- 파일 이름 검색 -->
            <when test="searchType == 'name'">

                and replace(
                    lower(a.attach_name),
                    ' ',
                    ''
                )
                like
                '%'
                ||
                replace(
                    lower(#{keyword}),
                    ' ',
                    ''
                )
                ||
                '%'

            </when>


            <!-- 파일 출처 검색 -->
            <when test="searchType == 'source'">

                and upper(a.attach_source)
                    =
                    upper(#{keyword})

            </when>


            <!-- 업로더 검색 -->
            <when test="searchType == 'uploader'">

                and (
                    replace(
                        lower(
                            nvl(
                                e.emp_name,
                                ''
                            )
                        ),
                        ' ',
                        ''
                    )
                    like
                    '%'
                    ||
                    replace(
                        lower(#{keyword}),
                        ' ',
                        ''
                    )
                    ||
                    '%'

                    or

                    replace(
                        lower(
                            to_char(a.attach_uploader)
                        ),
                        ' ',
                        ''
                    )
                    like
                    '%'
                    ||
                    replace(
                        lower(#{keyword}),
                        ' ',
                        ''
                    )
                    ||
                    '%'
                )

            </when>


            <!-- 파일 형식 검색 -->
            <when test="searchType == 'type'">

                and (
                    replace(
                        lower(
                            nvl(
                                a.attach_type,
                                ''
                            )
                        ),
                        ' ',
                        ''
                    )
                    like
                    '%'
                    ||
                    replace(
                        lower(#{keyword}),
                        ' ',
                        ''
                    )
                    ||
                    '%'

                    or

                    replace(
                        lower(
                            nvl(
                                a.attach_name,
                                ''
                            )
                        ),
                        ' ',
                        ''
                    )
                    like
                    '%'
                    ||
                    replace(
                        lower(#{keyword}),
                        ' ',
                        ''
                    )
                    ||
                    '%'
                )

            </when>


            <!-- 잘못된 searchType -->
            <otherwise>

                and replace(
                    lower(a.attach_name),
                    ' ',
                    ''
                )
                like
                '%'
                ||
                replace(
                    lower(#{keyword}),
                    ' ',
                    ''
                )
                ||
                '%'

            </otherwise>

        </choose>


        order by
            a.attach_ctime desc,
            a.attach_no desc

    </select>


    <!-- ==================================================
         프로젝트 파일 검색
         + 페이징
         + 정렬
         ================================================== -->

    <select
        id="selectListByProjectAndKeywordPage"
        resultType="AttachDto"
    >

        select *
        from (
            select
                rownum rn,
                TMP.*
            from (

                select
                    a.attach_no,
                    a.attach_name,
                    a.attach_type,
                    a.attach_size,
                    a.attach_uploader,
                    a.attach_source,
                    a.attach_source_no,
                    a.attach_ctime,
                    e.emp_name as empName

                from project_file pf

                join attach a
                    on pf.attach_no = a.attach_no

                left join emp e
                    on a.attach_uploader = e.emp_no

                where pf.project_no = #{projectNo}


                <!-- ==========================================
                     검색 조건
                     ========================================== -->

                <choose>


                    <!-- 파일 이름 검색 -->
                    <when test="searchType == 'name'">

                        and replace(
                            lower(a.attach_name),
                            ' ',
                            ''
                        )
                        like
                        '%'
                        ||
                        replace(
                            lower(#{keyword}),
                            ' ',
                            ''
                        )
                        ||
                        '%'

                    </when>


                    <!-- 파일 출처 검색 -->
                    <when test="searchType == 'source'">

                        and upper(a.attach_source)
                            =
                            upper(#{keyword})

                    </when>


                    <!-- 업로더 검색 -->
                    <when test="searchType == 'uploader'">

                        and (
                            replace(
                                lower(
                                    nvl(
                                        e.emp_name,
                                        ''
                                    )
                                ),
                                ' ',
                                ''
                            )
                            like
                            '%'
                            ||
                            replace(
                                lower(#{keyword}),
                                ' ',
                                ''
                            )
                            ||
                            '%'

                            or

                            replace(
                                lower(
                                    to_char(
                                        a.attach_uploader
                                    )
                                ),
                                ' ',
                                ''
                            )
                            like
                            '%'
                            ||
                            replace(
                                lower(#{keyword}),
                                ' ',
                                ''
                            )
                            ||
                            '%'
                        )

                    </when>


                    <!-- 파일 형식 검색 -->
                    <when test="searchType == 'type'">

                        and (
                            replace(
                                lower(
                                    nvl(
                                        a.attach_type,
                                        ''
                                    )
                                ),
                                ' ',
                                ''
                            )
                            like
                            '%'
                            ||
                            replace(
                                lower(#{keyword}),
                                ' ',
                                ''
                            )
                            ||
                            '%'

                            or

                            replace(
                                lower(
                                    nvl(
                                        a.attach_name,
                                        ''
                                    )
                                ),
                                ' ',
                                ''
                            )
                            like
                            '%'
                            ||
                            replace(
                                lower(#{keyword}),
                                ' ',
                                ''
                            )
                            ||
                            '%'
                        )

                    </when>


                    <!-- 잘못된 searchType -->
                    <otherwise>

                        and replace(
                            lower(a.attach_name),
                            ' ',
                            ''
                        )
                        like
                        '%'
                        ||
                        replace(
                            lower(#{keyword}),
                            ' ',
                            ''
                        )
                        ||
                        '%'

                    </otherwise>

                </choose>


                <!-- ==========================================
                     ★ 정렬 ★

                     반드시 ROWNUM 생성 전에 정렬
                     ========================================== -->

                <choose>


                    <!-- 최신순 -->
                    <when test="sortType == 'date-desc'">

                        order by
                            a.attach_ctime desc,
                            a.attach_no desc

                    </when>


                    <!-- 오래된순 -->
                    <when test="sortType == 'date-asc'">

                        order by
                            a.attach_ctime asc,
                            a.attach_no asc

                    </when>


                    <!-- 파일명순 -->
                    <when test="sortType == 'name-asc'">

                        order by
                            lower(a.attach_name) asc,
                            a.attach_no asc

                    </when>


                    <!-- 파일명 역순 -->
                    <when test="sortType == 'name-desc'">

                        order by
                            lower(a.attach_name) desc,
                            a.attach_no desc

                    </when>


                    <!-- 큰 파일순 -->
                    <when test="sortType == 'size-desc'">

                        order by
                            a.attach_size desc,
                            a.attach_no desc

                    </when>


                    <!-- 작은 파일순 -->
                    <when test="sortType == 'size-asc'">

                        order by
                            a.attach_size asc,
                            a.attach_no asc

                    </when>


                    <!-- 기본값 -->
                    <otherwise>

                        order by
                            a.attach_ctime desc,
                            a.attach_no desc

                    </otherwise>

                </choose>

            ) TMP
        )

        where rn between #{beginRownum} and #{endRownum}

    </select>


    <!-- ==================================================
         프로젝트 검색 결과 개수
         ================================================== -->

    <select
        id="countByProjectAndKeyword"
        resultType="int"
    >

        select count(*)

        from project_file pf

        join attach a
            on pf.attach_no = a.attach_no

        left join emp e
            on a.attach_uploader = e.emp_no

        where pf.project_no = #{projectNo}


        <choose>


            <!-- 파일명 -->
            <when test="searchType == 'name'">

                and replace(
                    lower(a.attach_name),
                    ' ',
                    ''
                )
                like
                '%'
                ||
                replace(
                    lower(#{keyword}),
                    ' ',
                    ''
                )
                ||
                '%'

            </when>


            <!-- 출처 -->
            <when test="searchType == 'source'">

                and upper(a.attach_source)
                    =
                    upper(#{keyword})

            </when>


            <!-- 업로더 -->
            <when test="searchType == 'uploader'">

                and (
                    replace(
                        lower(
                            nvl(
                                e.emp_name,
                                ''
                            )
                        ),
                        ' ',
                        ''
                    )
                    like
                    '%'
                    ||
                    replace(
                        lower(#{keyword}),
                        ' ',
                        ''
                    )
                    ||
                    '%'

                    or

                    replace(
                        lower(
                            to_char(
                                a.attach_uploader
                            )
                        ),
                        ' ',
                        ''
                    )
                    like
                    '%'
                    ||
                    replace(
                        lower(#{keyword}),
                        ' ',
                        ''
                    )
                    ||
                    '%'
                )

            </when>


            <!-- 파일 형식 -->
            <when test="searchType == 'type'">

                and (
                    replace(
                        lower(
                            nvl(
                                a.attach_type,
                                ''
                            )
                        ),
                        ' ',
                        ''
                    )
                    like
                    '%'
                    ||
                    replace(
                        lower(#{keyword}),
                        ' ',
                        ''
                    )
                    ||
                    '%'

                    or

                    replace(
                        lower(
                            nvl(
                                a.attach_name,
                                ''
                            )
                        ),
                        ' ',
                        ''
                    )
                    like
                    '%'
                    ||
                    replace(
                        lower(#{keyword}),
                        ' ',
                        ''
                    )
                    ||
                    '%'
                )

            </when>


            <!-- 잘못된 타입 -->
            <otherwise>

                and replace(
                    lower(a.attach_name),
                    ' ',
                    ''
                )
                like
                '%'
                ||
                replace(
                    lower(#{keyword}),
                    ' ',
                    ''
                )
                ||
                '%'

            </otherwise>

        </choose>

    </select>


    <!-- ==================================================
         첨부파일이 속한 프로젝트 번호
         ================================================== -->

    <select id="selectProjectNo" resultType="int">

        select project_no
        from project_file
        where attach_no = #{attachNo}

    </select>


    <!-- ==================================================
         프로젝트 상태 조회
         ================================================== -->

    <select id="selectProjectStatus" resultType="string">

        select project_status
        from project
        where project_no = #{projectNo}

    </select>


    <!-- ==================================================
         기록에서 파일을 참조하고 있는지 확인
         ================================================== -->

    <select id="existsProjectRecordAttach" resultType="int">

        select count(*)
        from project_record_attach
        where attach_no = #{attachNo}

    </select>


</mapper>