<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.attach">

    <!-- =========================================================
         파일 번호 생성
    ========================================================== -->

    <select id="sequence" resultType="int">

        select attach_seq.nextval
        from dual

    </select>


    <!-- =========================================================
         회원 프로필 사진 등록
         
         기존 코드 유지
         AttachProfileVO 전용
    ========================================================== -->

    <insert id="add">

        insert into attach(
            attach_no,
            attach_name,
            attach_type,
            attach_size,
            attach_uploader,
            attach_source
        )
        values(
            #{attachNo},
            #{attachName},
            #{attachType},
            #{attachSize},
            #{attachUploader},
            #{attachSource}
        )

    </insert>


    <!-- =========================================================
         프로젝트 파일 등록
         
         AttachDto 전용
         sourceNo까지 저장
    ========================================================== -->

    <insert id="addProjectFile">

        insert into attach(
            attach_no,
            attach_name,
            attach_type,
            attach_size,
            attach_uploader,
            attach_source,
            attach_source_no
        )
        values(
            #{attachNo},
            #{attachName},
            #{attachType},
            #{attachSize},
            #{attachUploader},
            #{attachSource},
            #{attachSourceNo}
        )

    </insert>


    <!-- =========================================================
         파일 단건 조회
    ========================================================== -->

    <select id="find" resultType="AttachDto">

        select
            attach_no,
            attach_name,
            attach_type,
            attach_size,
            attach_uploader,
            attach_source,
            attach_source_no,
            attach_ctime
        from attach
        where attach_no = #{attachNo}

    </select>


    <!-- =========================================================
         파일 삭제
    ========================================================== -->

    <delete id="delete">

        delete from attach
        where attach_no = #{attachNo}

    </delete>


    <!-- =========================================================
         파일 여러 개 조회
    ========================================================== -->

    <select id="findList" resultType="AttachDto">

        select
            attach_no,
            attach_name,
            attach_type,
            attach_size,
            attach_uploader,
            attach_source,
            attach_source_no,
            attach_ctime
        from attach
        where attach_no in(

            <foreach
                item="attachNo"
                collection="list"
                separator=","
            >
                #{attachNo}
            </foreach>

        )
        order by attach_no asc

    </select>


    <!-- =========================================================
         프로젝트별 파일 조회
    ========================================================== -->

    <select
        id="selectListByProject"
        resultType="AttachDto"
    >

        select
            a.attach_no,
            a.attach_name,
            a.attach_type,
            a.attach_size,
            a.attach_uploader,
            a.attach_source,
            a.attach_source_no,
            a.attach_ctime,
            e.emp_name as empName
        from project_file pf
        join attach a
            on pf.attach_no = a.attach_no
        left join emp e
            on a.attach_uploader = e.emp_no
        where pf.project_no = #{projectNo}
        order by a.attach_ctime desc

    </select>


    <!-- =========================================================
         프로젝트별 파일 검색
    ========================================================== -->

    <select
        id="selectListByProjectAndKeyword"
        resultType="AttachDto"
    >

        select
            a.attach_no,
            a.attach_name,
            a.attach_type,
            a.attach_size,
            a.attach_uploader,
            a.attach_source,
            a.attach_source_no,
            a.attach_ctime,
            e.emp_name as empName
        from project_file pf
        join attach a
            on pf.attach_no = a.attach_no
        left join emp e
            on a.attach_uploader = e.emp_no
        where pf.project_no = #{projectNo}
          and a.attach_name like '%' || #{keyword} || '%'
        order by a.attach_ctime desc

    </select>


    <!-- =========================================================
         첨부파일이 연결된 프로젝트 번호 조회
         
         attach에는 project_no가 없기 때문에
         project_file을 통해 조회
         
         프로필 파일은 project_file 연결이 없으므로
         null이 반환됨
    ========================================================== -->

    <select
        id="selectProjectNo"
        resultType="int"
    >

        select project_no
        from project_file
        where attach_no = #{attachNo}

    </select>

</mapper>