<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.message">

	<!-- 메세지 등록 -->
	<select id="sequence" resultType="int">
		select chat_message_seq.nextval from dual
	</select>
	<insert id="add">
		insert into chat_message (
			chat_message_no,
            chat_channel_no,
            chat_message_sender,
            chat_message_content,
            chat_message_type,
            chat_message_ctime,
            chat_message_utime,
            chat_message_deleted
		)
		values (
			#{no},
            #{channelNo},
            #{projectMemberNo},
            #{content},
            #{type},
            systimestamp,
            systimestamp,
            'N'
		)
	</insert>
	
	<!-- 메시지 조회를 위한 구조를 안내 -->
	<resultMap id="MessageVO" type="com.kh.finalprj.vo.message.MessageVO">
	    <id property="no" column="chat_message_no"/>
	    <result property="channelNo" column="chat_channel_no"/>
	    <result property="projectMemberNo" column="chat_message_sender"/>
	    <result property="senderName" column="sender_name"/>
	    <result property="content" column="chat_message_content"/>
	    <result property="type" column="chat_message_type"/>
	    <result property="ctime" column="chat_message_ctime"/>
	    <result property="utime" column="chat_message_utime"/>
	    <result property="deleted" column="chat_message_deleted"/>
	    <result property="unreadCount" column="unread_count"/>
	</resultMap>
	
	<!-- 메세지 하나 조회 -->
	<select id="selectOne" resultType="MessageVO">
	    select
	        chat_message_no as no,
	        chat_channel_no as channelNo,
	        chat_message_sender as projectMemberNo,
	        chat_message_content as content,
	        chat_message_type as type,
	        chat_message_ctime as ctime,
	        chat_message_utime as utime
	    from chat_message
	    where chat_message_no = #{chatMessageNo}
	</select>
	
	<!-- 메세지 작업을 위한 기본 정보 조회 -->
	<select id="selectTarget" resultType="com.kh.finalprj.vo.message.MessageTargetVO">
		select
			M.chat_message_no AS chatMessageNo,
			M.chat_channel_no AS channelNo,
			C.project_no AS projectNo,
			M.chat_message_sender AS projectMemberNo
		from chat_message M
		join chat_channel C on M.chat_channel_no = C.chat_channel_no
		where M.chat_message_no = #{chatMessageNo}
	</select>
	
	<!-- 구문 조각 -->
	<sql id="temp-header">
		with temp_list as (
			select rownum rn, TMP.* from (
	</sql>
	<sql id="temp-footer">
			)TMP
		)
	</sql>
	
	<!-- 메세지 목록(여러 개) 조회 -->
	<select id="selectMessages" resultMap="MessageVO">
    <include refid="temp-header"/>

	    select
	        M.chat_message_no,
	        M.chat_channel_no,
	        M.chat_message_sender,
	        PM.emp_no AS emp_no,
	        E.emp_name AS sender_name,
	        M.chat_message_content,
	        M.chat_message_type,
	        M.chat_message_ctime,
	        M.chat_message_utime,
	        M.chat_message_deleted,
	        
	        <!-- 안 읽은 사람 수 -->
	        (
	        	select count(*)
	        	from project_member PM2
	        	where PM2.project_no = CC.project_no
	        		<!-- 메세지를 보낸 사람은 제외 -->
	        		and PM2.project_member_no != M.chat_message_sender
	        		<!-- 이 메세지를 읽지 않은 사람 -->
	        		and not exists (
	        			select 1
	        			from chat_read CR
	        			where CR.chat_message_no = M.chat_message_no
	        				and CR.project_member_no = PM2.project_member_no
	        		)
	        ) AS unread_count
	        
	    from chat_message M
	    
	    	<!-- 메세지가 속한 채널 -->
	    	left outer join chat_channel CC
	    		on M.chat_channel_no = CC.chat_channel_no
	    		
	        left outer join project_member PM
	            on M.chat_message_sender = PM.project_member_no
	            
	        left outer join emp E
	            on PM.emp_no = E.emp_no
	            
	    where M.chat_channel_no = #{channelNo}
	
	    order by M.chat_message_no desc

    <include refid="temp-footer"/>

	    select * from (
	        select * from temp_list
	        <if test="lastMessageNo != null">
	            <![CDATA[
	                where chat_message_no < #{lastMessageNo}
	            ]]>
	        </if>
	    )
	    <if test="size != null">
	        <![CDATA[
	            where rownum <= #{size}
	        ]]>
	    </if>
	    
	    order by chat_message_no asc
	</select>
	
	<select id="countMessages" resultType="int">
	    select count(*)
	    from chat_message M
	    where M.chat_channel_no = #{channelNo}
	
	    <if test="lastMessageNo != null">
	        <![CDATA[
	            and M.chat_message_no < #{lastMessageNo}
	        ]]>
	    </if>
	</select>
	
	<!-- 메세지 삭제 (soft delete) -->
	<update id="delete">
		update chat_message
		set chat_message_deleted = 'Y'
		where chat_message_no = #{chatMessageNo}
	</update>
	
	<!-- 메세지 수정 -->
	<update id="update">
		update chat_message
		set chat_message_content = #{chatMessageContent},
			chat_message_utime = systimestamp
		where chat_message_no = #{chatMessageNo}
			and chat_message_deleted = 'N'
	</update>
	
	<!-- (A) 메세지 하나씩 읽음 처리 -->
	<!--  
	<insert id="insertRead">
		merge into chat_read CR
		using (
			select 
				#{chatMessageNo} AS chat_message_no,
				#{projectMemberNo} AS project_member_no
			from dual
		) T
		on (
			CR.chat_message_no = T.chat_message_no
			and  CR.project_member_no = T.project_member_no
		)
		when not marched then 
			insert (
				chat_message_no,
	            project_member_no,
	            chat_read_at
			)
			values (
	            T.chat_message_no,
	            T.project_member_no,
	            SYSTIMESTAMP
	        )
	</insert>
	-->
	
	<!-- (B) 채널의 안 읽은 메시지를 한꺼번에 읽음 처리 -->
	<insert id="readChannelMessage">
		insert into chat_read (
			chat_message_no,
			project_member_no
		)
		select 
			M.chat_message_no,
			#{projectMemberNo}
		from chat_message M
		where M.chat_channel_no = #{channelNo}
			and not exists (
				select 1
				from chat_read CR
				where CR.chat_message_no = M.chat_message_no
					and CR.project_member_no = #{projectMemberNo}
			)
	</insert>
	
	<!-- 특정 메세지의 안 읽은 사람 수 -->
	<select id="countUnread" resultType="int">
		select count(*)
		from project_member PM
		join chat_channel CC
			on PM.project_no = CC.project_no
		where CC.chat_channel_no = #{channelNo}
			and PM.project_member_no != #{projectMemberNo}
			and not exists (
				select 1
				from chat_read CR
				where CR.chat_message_no = #{chatMessageNo}
					and CR.project_member_no = PM.project_member_no
			)
	</select>
	
	<!-- 해당 채널 메시지별 안 읽은 사람 수 -->
	<select id="selectUnreadCount"
	        resultType="com.kh.finalprj.vo.message.MessageUnreadVO">
	
	    select
	        M.chat_message_no as messageNo,
	
	        (
	            select count(*)
	            from project_member PM
	            where PM.project_no = CC.project_no
	
	              <!-- 메시지를 보낸 사람은 제외 -->
	              and PM.project_member_no != M.chat_message_sender
	
	              <!-- 해당 메시지를 읽지 않은 사람 -->
	              and not exists (
	                  select 1
	                  from chat_read CR
	                  where CR.chat_message_no = M.chat_message_no
	                    and CR.project_member_no = PM.project_member_no
	              )
	
	        ) as unreadCount
	
	    from chat_message M
	    join chat_channel CC
	        on M.chat_channel_no = CC.chat_channel_no
	
	    where M.chat_channel_no = #{channelNo}
	
	    order by M.chat_message_no
	</select>
	
	<!-- 채널별 내가 안 읽은 메시지 수 -->
	<select id="selectChannelUnreadCount"
	        resultType="com.kh.finalprj.vo.message.MessageUnreadChannelVO">
	
    select
        C.chat_channel_no as channelNo,

        count(M.chat_message_no) as unreadCount

    from chat_channel C

    left outer join chat_message M
        on C.chat_channel_no = M.chat_channel_no

        <!-- 내가 보낸 메시지는 제외 -->
        and M.chat_message_sender != #{projectMemberNo}

        <!-- 내가 읽지 않은 메시지만 -->
        and not exists (
            select 1
            from chat_read CR
            where CR.chat_message_no = M.chat_message_no
              and CR.project_member_no = #{projectMemberNo}
        )

    where C.project_no = #{projectNo}

    group by C.chat_channel_no

    order by C.chat_channel_no

	
	</select>
	
</mapper>