<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.notefile">

	<!-- 노트 파일 매핑 등록 -->
	<insert id="addNoteFile" parameterType="NoteFileDto">
		insert into note_file (
			note_no,
			attach_no,
			note_file_ctime
		) values (
			#{noteNo},
			#{attachNo},
			systimestamp
		)
	</insert>
	
	<!-- 노트 파일 목록 조회 -->
	<select id="selectFileByNoteNo" parameterType="int" resultType="NoteFileResponseVO">
		select
			a.attach_no        as attachNo,
			a.attach_name      as attachName,
			a.attach_type      as attachType,
			a.attach_size      as attachSize,
			nf.note_file_ctime as ctime
		from note_file nf
		inner join attach a
			on nf.attach_no = a.attach_no
		where nf.note_no = #{noteNo}
		order by nf.note_file_ctime asc
	</select>
	
	<!-- 노트 파일 단건 삭제 -->
	<delete id="deleteNoteFile" parameterType="map">
		delete from note_file
		where note_no = #{noteNo}
		  and attach_no = #{attachNo}
	</delete>
	
	<!-- 댓글 파일 등록 -->
	<insert id="addCommentFile" parameterType="NoteCommentFileDto">
		insert into note_comment_file (
			note_comment_no,
			attach_no,
			note_comment_file_ctime
		) values (
			#{noteCommentNo},
			#{attachNo},
			systimestamp
		)
	</insert>
	
	<!-- 특정 댓글 파일 목록 조회 (DAO 호출명에 맞춰 id를 selectFileByCommentNo로 수정) -->
	<select id="selectFileByCommentNo" parameterType="int" resultType="NoteFileResponseVO">
		select
			a.attach_no                 as attachNo,
			a.attach_name               as attachName,
			a.attach_type               as attachType,
			a.attach_size               as attachSize,
			ncf.note_comment_file_ctime as ctime
		from note_comment_file ncf
		inner join attach a
			on ncf.attach_no = a.attach_no
		where ncf.note_comment_no = #{noteCommentNo}
		order by ncf.note_comment_file_ctime asc
	</select>
	
	<!-- 댓글 파일 단건 삭제 -->
	<delete id="deleteCommentFile" parameterType="map">
		delete from note_comment_file
		where note_comment_no = #{noteCommentNo}
		  and attach_no = #{attachNo}
	</delete>
		
</mapper>