<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.note">
	<!-- 시퀀스 -->
	<select id="sequence" resultType="int">
		select note_seq.nextval from dual
	</select>
	
	<!-- 등록 -->
	<insert id="add">
		insert into note (
			note_no, project_no, note_writer_no,
			note_title, note_content
		)
		values (
			#{noteNo}, #{projectNo}, #{noteWriterNo},
			#{noteTitle}, #{noteContent}
		)
	</insert>
	
	<!-- 수정 -->
	<update id="update">
		update note
		set note_title = #{noteTitle},
			note_content = #{noteContent},
			note_utime = systimestamp
		where note_no = #{noteNo}
	</update>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete note where note_no = #{noteNo}
	</delete>
	
	<!-- 상세 조회 -->
	<select id="find" resultType="noteDto">
		select * from note where note_no = #{noteNo}
	</select>
	
	<!-- 목록 조회 -->
	<select id="list" resultType="noteDto">
		select * from (
			select rownum rn, TMP.* from (
				select * from note
				where project_no = #{projectNo}
				
				<!-- 다음 페이지 조회 -->
				<if test="lastNo != null">
				<![CDATA[
				and note_no < #{lastNo}
				]]>
				</if>
				
				<!-- 검색 -->
				<if test="keyword != null and keyword != ''">
				
					<choose>
						<!-- 제목 검색 -->
						<when test="type == 'title'">
							and instr(note_title, #{keyword}) > 0
						</when>
						
						<!-- 내용 검색 -->
						<when test="type == 'content'">
							and dbms_lob.instr(note_content, #{keyword}) > 0
						</when>
						
						<!-- 제목 + 내용 검색 -->
						<otherwise>
							and (
								instr(note_title, #{keyword}) > 0
								or dbms_lob.instr(note_content, #{keyword}) > 0
							)
						</otherwise>
					</choose>
				</if>
				
				order by note_no desc
			)TMP
		)
		where rn between 1 and #{size}
	</select>
	
	<!-- count -->
	<select id="count" resultType="int">
		select count(*) from note
		where project_no = #{projectNo}
		
		<if test="lastNo != null">
		<![CDATA[
		and note_no < #{lastNo}
		]]>
		</if>
		
		<if test="keyword != null and keyword != ''">
			<choose>
				<when test = "type == 'title'">
					and instr(note_title, #{keyword}) > 0
				</when>
				<when test="type == 'content'">
					and dbms_lob.instr(note_content, #{keyword}) > 0
				</when>
				<otherwise>
					and (
						instr(note_title, #{keyword}) > 0
						or dbms_lob.instr(note_content, #{keyword}) > 0
					)
				</otherwise>
			</choose>
		</if>
	</select>
</mapper>