<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapper.projectFile">


    <!-- ===================================================== -->
    <!-- 프로젝트와 파일 연결 -->
    <!-- ===================================================== -->

    <insert id="add">

        insert into project_file(
            project_no,
            attach_no
        )
        values(
            #{projectNo},
            #{attachNo}
        )

    </insert>


</mapper>