<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.projectExpectedResult">
	<!-- 프로젝트 종료시 예상 결과 평가 -->
	<update id="updateStatus">
		update 	project_expected_result
		set		project_result_status = #{projectResultStatus},
				project_result_utime = systimestamp
		where 	project_result_no = #{projectResultNo}
				and project_no = #{projectNo}
	</update>
	
	<!-- 기대결과 번호 발급 -->
	<select id="sequence" resultType="int">
		select project_result_seq.nextval from dual
	</select>
	
	<!-- 다음 순서 -->
	<select id="nextOrder" resultType="int">
		select nvl(max(project_result_order),0)+1
		from project_expected_result
		where project_no = #{projectNo}
	</select>

	<!-- 기대결과 등록 -->
	<insert id="add">
		insert into project_expected_result(
			project_result_no,
			project_no,
			project_result_content,
			project_result_order
		)
		values(
			#{projectResultNo},
			#{projectNo},
			#{projectResultContent},
			#{projectResultOrder}
		)
	</insert>
	
	<!-- 기대결과 목록 -->
	<select id="selectList" resultType="ProjectExpectedResultDto">
		select * from project_expected_result
		where project_no = #{projectNo}
		order by project_result_order asc
	</select>
	
	<!-- 기대결과 상세 -->
	<select id="find" resultType="ProjectExpectedResultDto">
		select * from project_expected_result
		where project_no = #{projectNo}
			and project_result_no = #{projectResultNo}
	</select>
	
	<!-- 기대결과 수정 -->
	<update id="update">
		update project_expected_result
		
		set project_result_content = #{projectResultContent},
			project_result_utime = systimestamp
		
		where project_no = #{projectNo} and 
			project_result_no = #{projectResultNo}
	</update>

	<!-- 기대결과 삭제 -->
	<delete id="delete">
		delete from project_expected_result
		where project_no = #{projectNo}
			and project_result_no = #{projectResultNo}
	</delete>
	
</mapper>
