<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.projectMember">

	<!-- 멤버추가 -->
	<select id="sequence" resultType="int">
		select project_member_seq.nextval from dual
	</select>
	<insert id="add">
		insert into project_member(
			project_member_no, 
			project_no, 
			emp_no,
			project_member_role,
			project_member_job
		)
		values (
			#{projectMemberNo},
			#{projectNo},
			#{empNo},
			#{projectMemberRole},
			#{projectMemberJob}
		)
	</insert>
	
	<!-- 프로젝트 멤버 번호 조회 -->
	<select id="findProjectMemberNo" resultType="int">
		select project_member_no
		from project_member
		where project_no = #{projectNo}
		and emp_no = #{empNo}
	</select>
	
	<!-- 프로젝트 멤버 상세 조회 -->
	<select id="findMember" resultType="ProjectMemberDto">
		select
			project_member_no,
			project_no,
			emp_no,
			project_member_role,
			project_member_job
		from project_member
		where project_no = #{projectNo}
			and emp_no = #{empNo}
	</select>
	

	<!-- 프로젝트 멤버 번호로 상세 조회 -->
	<select id="findMember2" resultType="ProjectMemberDto">
		select * from project_member
		where project_member_no = #{projectMemberNo}
	</select>
	
	<select id="selectRole" resultType="String">
		select project_member_role 
			from project_member
		where project_no = #{projectNo}
			and emp_no = #{empNo}
	</select>
	
	<!-- 
		프로젝트 멤버목록 조회 
		권한 순서,등록 순서로 정렬
	-->
	<select id="selectProjectMemberList" resultType="ProjectMemberListResponseVO">
		select 	pm.project_member_no,
				pm.project_no,
				pm.emp_no,
				e.emp_name,
				pm.project_member_role,
				pm.project_member_job,
				pm.project_member_ctime
		from project_member pm
		inner join emp e
			on pm.emp_no = e.emp_no
		where pm.project_no =#{projectNo}
		order by 
			case pm.project_member_role
				when 'owner' then 1
				when 'manager' then 2
				else 3
			end,
			pm.project_member_ctime asc
	</select>
	
	<!-- 역할 변경 -->
	<update id="updateRole">
		update project_member
		set 	project_member_role = #{projectMemberRole}
		where 	project_member_no = #{projectMemberNo}
			and projectNo = #{projectNo}
	</update>
</mapper>