<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="mapper.projectRecord">

	<!-- 시퀀스 -->
	<select id="sequence" resultType="int">
		select project_record_seq.nextval from dual
	</select>
	
	<!-- Record 등록 -->
	<insert id="insert">
		insert into project_record (
			project_record_no,
			project_no,
			project_record_writer_no,
			project_record_type,
			project_record_title,
			project_record_content
		)
		values(
			#{projectRecordNo},
			#{projectNo},
			#{projectRecordWriterNo},
			#{projectRecordType},
			#{projectRecordTitle},
			#{projectRecordContent}
		)
	</insert>
	
	<!-- ISSUE 전용 정보 등록 -->
	<insert id="insertIssue">
		insert into project_record_issue (
			project_record_no
		)
		values(
			#{projectRecordNo}
		)
		
	</insert>
	
	<!-- 프로젝트별 Record 목록 -->
	<select id="list" resultType="ProjectRecordListResponseVO">
		select
			pr.project_record_no,
			pr.project_record_type,
			pr.project_record_title,
			pr.project_record_writer_no,
			e.emp_name project_record_writer_name,
			pr.project_record_ctime,
			pr.project_record_utime,
			pri.issue_status project_record_issue_status
			
		from project_record pr
		
			join project_member pm
				on pr.project_record_writer_no = pm.project_member_no
			
			join emp e
				on pm.emp_no = e.emp_no
				
			left outer join project_record_issue pri
				on pr.project_record_no = pri.project_record_no
		
		where pr.project_no = #{projectNo}
		
		order by pr.project_record_no desc
	</select>
	
	
	<!-- java 필드명과 맞추려고 준 alias가 Oracle의 30자 제한을 넘어서 resultMap 추가 -->
	<resultMap id="projectRecordDetailResultMap"
			type="ProjectRecordDetailResponseVO"
			autoMapping="true">
	
		<result property="projectRecordIssueResolution"
				column="issue_resolution"/>
				
		<result property="projectRecordIssueResolvedAt"
				column="issue_resolved_at"/>		
	</resultMap>
	
	
	<!-- Record 상세 조회 -->
	<select id="detail" resultMap="projectRecordDetailResultMap">
		select
			pr.project_record_no,
			pr.project_no,
			pr.project_record_type,
			pr.project_record_title,
			pr.project_record_content,
			pr.project_record_writer_no,
			writer.emp_name project_record_writer_name,
			pr.project_record_modifier_no,
			modifier.emp_name project_record_modifier_name,
			pr.project_record_ctime,
			pr.project_record_utime,
			pri.issue_status project_record_issue_status,
			pri.issue_resolution,
			pri.issue_resolved_at
			
		from project_record pr
		
			join project_member writer_pm
				on pr.project_record_writer_no = writer_pm.project_member_no
				
			join emp writer
				on writer_pm.emp_no = writer.emp_no
				
			left outer join project_member modifier_pm
				on pr.project_record_modifier_no = modifier_pm.project_member_no
				
			left outer join emp modifier
				on modifier_pm.emp_no = modifier.emp_no
				
			left outer join project_record_issue pri
				on pr.project_record_no = pri.project_record_no
				
			where pr.project_record_no = #{projectRecordNo}
	</select>
	
	<!-- 각 원본 연결 -->
	
		
	<insert id="insertTask">
		insert into project_record_task (
			project_record_no,
			task_no
		)
		values (
			#{projectRecordNo},
			#{taskNo}
		)
	</insert>
	<insert id="insertMessage">
		insert into project_record_message (
			project_record_no,
			chat_message_no
		)
		values (
			#{projectRecordNo},
			#{chatMessageNo}
		)
	</insert>
	<insert id="insertNote">
		insert into project_record_note (
			project_record_no,
			note_no
		)
		values (
			#{projectRecordNo},
			#{noteNo}
		)
	</insert>
	<insert id="insertAttach">
		insert into project_record_attach (
			project_record_no,
			attach_no
		)
		values (
			#{projectRecordNo},
			#{attachNo}
		)
	</insert>
	
	<!-- Record 연관 원본 목록 조회 -->
	<select id="selectRelatedList" resultType="ProjectRecordRelatedResponseVO">
		select
			'TASK' related_type,
			t.task_no related_no,
			t.task_title related_title,
			t.task_status related_status
			
		from project_record_task prt
			join task t
				on prt.task_no = t.task_no
		
		where prt.project_record_no = #{projectRecordNo}
				
		union all
		
		select
			'MESSAGE' related_type,
			cm.chat_message_no related_no,
			cm.chat_message_content related_title,
			null related_status
		
		from project_record_message prm
			join chat_message cm
				on prm.chat_message_no = cm.chat_message_no
				
		where prm.project_record_no = #{projectRecordNo}
		
		union all
		
		select
			'NOTE' related_type,
			n.note_no related_no,
			n.note_title related_title,
			null related_status
			
		from project_record_note prn
			join note n
				on prn.note_no = n.note_no
				
		where prn.project_record_no = #{projectRecordNo}
		
		union all
		
		select
			'ATTACH' related_type,
			a.attach_no related_no,
			a.attach_name related_title,
			null related_status
			
		from project_record_attach pra
			join attach a
				on pra.attach_no = a.attach_no
				
		where pra.project_record_no = #{projectRecordNo}
				
		
	</select>
	
	<!-- 수정 -->
	<update id="edit">
		update project_record
		set 
			project_record_title = #{projectRecordTitle},
			project_record_content = #{projectRecordContent},
			project_record_modifier_no = #{projectRecordModifierNo},
			project_record_utime = systimestamp
		where project_record_no = #{projectRecordNo}
		
	</update>
	
	<!-- record에 연결된 task 삭제 -->
	<delete id="deleteTaskList">
		delete from project_record_task
		where project_record_no = #{projectRecordNo}
	</delete>
	
	<delete id="deleteNoteList">
		delete from project_record_note
		where project_record_no = #{projectRecordNo}
	</delete>
	
	<delete id="deleteAttachList">
		delete from project_record_attach
		where project_record_no = #{projectRecordNo}
	</delete>
	
	<!-- 삭제 -->
	<delete id="delete">
		delete from project_record
		where project_record_no = #{projectRecordNo}
	</delete>
	
	<!-- 이슈 해결 -->
	<update id="resolveIssue">
		update project_record_issue
		set
			issue_status = 'RESOLVED',
			issue_resolution = #{issueResolution},
			issue_resolved_at = systimestamp
		where project_record_no = #{projectRecordNo}
			and issue_status = 'OPEN'
	</update>
	
	<!-- 이슈 다시 열기 -->
	<update id="reopenIssue">
		update project_record_issue
			set
				issue_status = 'OPEN',
				issue_resolution = null,
				issue_resolved_at = null
			where project_record_no = #{projectRecordNo}
				and issue_status = 'RESOLVED'
	</update>
	
	<!-- record 최종 수정자 / 수정 시간 갱신 -->
	<update id="updateModifier">
		update project_record
		set
			project_record_modifier_no = #{projectRecordModifierNo},
			project_record_utime = systimestamp
		where project_record_no = #{projectRecordNo}
	</update>
	
</mapper>